/*RESET*/
* {
  margin: 0PX;
  padding: 0%;
  box-sizing: border-box; }

/*ESTILOS-BODY*/
body {
  font-family: "Roboto", sans-serif; }

p, h2, h3 {
  color: #128b12; }

/*-------------------SECTION | INDEX ----------------------------------*/
/*ESTILOS-FOOTER*/
footer a img {
  width: 40%; }

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: 1fr;
  grid-area: footer;
  justify-items: center;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 0.5rem; }

footer a {
  display: flex;
  justify-content: center;
  margin: 0.5rem; }

footer h3 {
  color: white; }

footer p {
  color: white; }

/* --- BREAK POINT PARA TABLET --- */
@Media screen and (min-width:600px) {
  /*ESTILOS-HEADER*/
  header div div h1 a {
    font-size: 2.5rem; }
  header nav ul li {
    font-size: 1.2rem;
    padding: 0.3rem; }
  /*ESTILOS-MAIN*/
  .video {
    display: block; }
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "imagenytexto imagenytexto" "propuestavalor propuestavalor" "coontologico video" "queesconversacion queesconversacion";
    gap: 0.9rem;
    text-align: justify;
    margin-bottom: 2rem;
    padding: 0.5rem; }
  .video {
    grid-area: video;
    align-self: center; }
  main section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  main section img {
    width: 50%; }
  .imagenytexto {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /*ESTILOS-FOOTER*/
  footer div {
    display: flex;
    width: 50%; }
  footer div a img {
    min-width: 30%; } }

/* --- BREAK POINT PARA DESKTOP --- */
@Media screen and (min-width:1024px) {
  /*ESTILOS-HEADER*/
  header nav ul li {
    padding: 0.3rem; }
  /*ESTILOS-MAIN*/
  .propuestavalor {
    width: 95%; }
  .coontologico {
    width: 95%; }
  .queesconversacion {
    width: 95%; }
  .coontologico {
    padding: 0.5rem;
    border-radius: 0.8rem; }
  .propuestavalor {
    padding: 0.5rem;
    border-radius: 0.8rem; }
  .video {
    padding: 0.5rem;
    border-radius: 0.8rem; }
  iframe {
    margin-left: 1.7rem;
    padding: 0.5rem; }
  .imagenytexto {
    padding: 0.5rem;
    border-radius: 0.8rem; }
  .queesconversacion {
    padding: 0.5rem;
    border-radius: 0.8rem; } }

/*-------------------SECTION | SESIONES ----------------------------------*/
/*ESTILOS-MAIN*/
.mainsesionesgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contsesiones" "contsesioncop" "contsesioncopf";
  padding: 0.5rem;
  gap: 1rem;
  justify-items: start;
  text-align: justify; }

.contsesiones {
  grid-area: contsesiones;
  padding: 0.5rem; }

.contsesioncop {
  grid-area: contsesioncop;
  padding: 0.5rem; }

.contsesioncopf {
  grid-area: contsesioncopf;
  padding: 0.5rem; }

.contsesiones__titulo {
  text-align: center;
  color: #128b12;
  font-size: 2rem;
  margin-bottom: 1.5rem; }

.contsesiones__subtitulo {
  font-size: 1.4rem; }

.contsesioncop__titulo {
  font-size: 1.2rem;
  text-align: center; }

.contsesioncop--contfleximagen {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem; }

.contsesioncopf--contfleximagen {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem; }

.contsesioncop__imagen {
  width: 90%;
  border-radius: 20rem; }

.contsesioncopf__imagen {
  width: 90%;
  border-radius: 20rem; }

@Media screen and (min-width:600px) {
  .mainsesionesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "contsesiones contsesiones" "contsesioncop contsesioncopf";
    padding: 0.5rem;
    gap: 1rem;
    justify-items: start;
    text-align: justify; }
  .contsesioncop__imagen {
    width: 100%;
    border-radius: 0%; }
  .contsesioncopf__imagen {
    width: 100%;
    border-radius: 0%; } }

@Media screen and (min-width:1024px) {
  .contsesioncop__imagen {
    opacity: 0.8; }
  .contsesioncopf__imagen {
    opacity: 0.8; }
  .contsesioncop__imagen {
    transition: 1s;
    border-radius: 0.3rem; }
  .contsesioncopf__imagen {
    transition: 1s;
    border-radius: 0.3rem; }
  .contsesioncop__imagen:hover {
    transform: scale(1.02); }
  .contsesioncopf__imagen:hover {
    transform: scale(1.02); }
  .ImgsSesiones:hover {
    background-color: #c4d3ef; } }

/*-------------------SECTION | QUIEN SOY ----------------------------------*/
/*ESTILOS-MAIN*/
.contquiensoy {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "conttitulo" "contdescyfoto" "continfoadicional";
  margin: 0.3rem;
  gap: 0 0.5rem;
  text-align: justify; }

.conttitulo {
  grid-area: conttitulo; }

.contdescyfoto {
  grid-area: contdescyfoto; }

.continfoadicional {
  grid-area: continfoadicional; }

.contdescyfoto__imagen {
  width: 99%; }

.contquiensoy div {
  margin-bottom: 1rem; }

.contdescyfoto article {
  margin-bottom: 1rem; }

.contdescyfoto div {
  display: flex;
  justify-content: center; }

@Media screen and (min-width:600px) {
  .contdescyfoto {
    display: flex;
    margin: 1rem;
    align-items: center; }
  .contdescyfoto article p {
    width: 90%; }
  .contdescyfoto div {
    width: 180%; } }

@Media screen and (min-width:1024px) {
  .contdescyfoto div {
    width: 99%; }
  .contdescyfoto article p {
    width: 95%; }
  .conttitulo {
    margin-top: 1rem; }
  .contdescyfoto {
    height: 70%;
    padding-left: 0.5rem;
    border-radius: 5rem; }
  .contquiensoy div {
    margin-bottom: 0rem; }
  .contdescyfoto article {
    margin-bottom: 0rem; }
  .contdescyfoto:hover {
    background-color: white; }
  .continfoadicional:hover {
    background-color: white; }
  .continfoadicional {
    border-radius: 3rem;
    padding: 1rem; }
  /*BOOTSTRAP*/
  .ImgsMeCaracteriza {
    transition: 0.3s; }
  .ImgsMeCaracteriza:hover {
    transform: scale(1.1); }
  /*BOOTSTRAP*/ }

/*------------------- SECTION | DISTINCIONES ----------------------------------*/
/*ESTILOS-MAIN*/
.contdintinciones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "conttitulo" "contobservador"  "contperssist" "contmarcoconst" "contcel" "contdomenergetico";
  text-align: justify;
  justify-content: center;
  gap: 1rem;
  margin: 0.4rem; }

.conttitulo {
  grid-area: conttitulo; }

.contobservador {
  grid-area: contobservador; }

.contperssist {
  grid-area: contperssist; }

.contmarcoconst {
  grid-area: contmarcoconst; }

.contcel {
  grid-area: contcel; }

.contdomenergetico {
  grid-area: contdomenergetico; }

.conttitulo h2 {
  text-align: center;
  margin-bottom: 1rem; }

.contobservador__titulo {
  text-align: center; }

.contperssist__titulo {
  text-align: center; }

.contmarcoconst__titulo {
  text-align: center; }

/*---PROPIEDAD PARA BOOTSTRAP---*/
.ContenedorPrinpDistinciones {
  margin-bottom: 3rem;
  margin-top: 3rem; }

/*---PROPIEDAD PARA BOOTSTRAP---*/
@Media screen and (min-width:600px) {
  .contcel--flex {
    display: flex;
    text-align: justify;
    gap: 1rem; } }

@Media screen and (min-width:1024px) {
  .contcel div article {
    padding: 1.5rem;
    border-radius: 5rem;
    background-color: white; }
  .contcel .contcel--flex article p {
    color: #128b12; }
  .contcel .contcel--flex article h2 {
    color: #128b12;
    font-weight: 800; }
  .contdomenergetico {
    padding: 1.5rem;
    border-radius: 5rem;
    background-color: white; }
  .contdomenergetico article h2 {
    color: #128b12; }
  .contdomenergetico article p {
    color: #128b12; }
  .contcel__titulo {
    text-align: center; }
  .contdomenergetico__titulo {
    text-align: center;
    font-weight: 800; } }

/*------------------- SECTION | CONTACTO ----------------------------------*/
/*ESTILOS-MAIN*/
/*----------------------------------------------------PROPIEDADES-BOOTSTRAP----------------------------------------------------*/
/*------------------- SECTION | MAIN ----------------------------------*/
.contcarousel {
  margin-top: 1rem; }

.contPropuestaDeValor--marginTop {
  margin: 1rem; }

/*------------------- SECTION | DISTINCIONES ----------------------------------*/
.ContenedorPrinpDistinciones {
  margin-top: 4rem; }
