.contsesioncop--contfleximagen, .contsesioncopf--contfleximagen {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem; }

/*---------Reset--------*/
* {
  margin: 0PX;
  padding: 0%;
  box-sizing: border-box; }

/*---------Reset--------*/
/*Estilo---BODY*/
body {
  font-family: "Roboto", sans-serif; }

main {
  margin-top: 8rem; }

/*Estilo---BODY*/
/*-------------------SECTION | INDEX ----------------------------------*/
/*-------------------MAIN--------------------*/
.Colortitulo {
  color: #fbbc05;
  font-weight: bold; }

.video {
  display: none; }

.ContPropuestaValor {
  color: #fbbc05;
  background-color: #a46497;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ColorQeselco, .ColorQescc {
  color: #fbbc05; }

/*------FOOTER------*/
.ContenedorFooter {
  background-color: #c2bdbd;
  /*------FOOTER------*/ }

@Media screen and (min-width:600px) {
  .ColorTituloVideo {
    color: #fbbc05;
    font-weight: bolder; }
  .video {
    display: block; }
  .video {
    grid-area: video;
    align-self: center; } }

@Media screen and (min-width:1024px) {
  .video {
    padding: 0.5rem;
    border-radius: 0.8rem; }
  iframe {
    margin-left: 1.7rem;
    padding: 0.5rem; }
  .queesconversacion {
    padding: 0.5rem;
    border-radius: 0.8rem; }
  .contcarousel {
    margin-top: 1rem; }
  .contPropuestaDeValor--marginTop {
    border: 1PX solid black; }
  .navbar-nav .nav-link:hover {
    transition: 0.5s;
    background-color: #fbbc05; }
  .navbar-brand:hover {
    background-color: #fbbc05; } }

/*-------------------MAIN--------------------*/
/*------------------FIN SECTION | INDEX ----------------------------------*/
/*-------------------SECTION | SESIONES ----------------------------------*/
/*-------------------MAIN--------------------*/
.mainsesionesgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contsesiones" "contsesioncop" "contsesioncopf";
  padding: 0.5rem;
  gap: 1rem;
  justify-items: start;
  text-align: justify; }

.contsesiones {
  grid-area: contsesiones;
  padding: 0.5rem; }

.contsesioncop {
  grid-area: contsesioncop;
  padding: 0.5rem; }

.contsesioncopf {
  grid-area: contsesioncopf;
  padding: 0.5rem; }

.contsesiones__titulo {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #fbbc05;
  font-weight: bold; }

.contsesiones__subtitulo {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  margin: 1.5rem; }

.contsesioncop__titulo, .contsesioncopf__titulo {
  text-align: center;
  font-weight: bold; }

.contsesioncop__imagen {
  width: 90%;
  border-radius: 20rem; }

.contsesioncopf__imagen {
  width: 90%;
  border-radius: 20rem; }

@Media screen and (min-width:600px) {
  .mainsesionesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "contsesiones contsesiones" "contsesioncop contsesioncopf";
    padding: 0.5rem;
    gap: 1rem;
    justify-items: start;
    text-align: justify; }
  .contsesioncop__imagen {
    width: 100%;
    border-radius: 0%; }
  .contsesioncopf__imagen {
    width: 100%;
    border-radius: 0%; }
  .contsesioncop__imagen {
    transition: 0,5s;
    border-radius: 0.3rem; }
  .contsesioncopf__imagen {
    transition: 0,5s;
    border-radius: 0.3rem; }
  .contsesioncop__imagen:hover {
    transform: scale(1.02); }
  .contsesioncopf__imagen:hover {
    transform: scale(1.02); }
  .contsesiones__parrafo:hover {
    font-weight: 900; }
  .contsesioncop__parrafo:hover {
    font-weight: 900; }
  .contsesioncopf__parrafo:hover {
    font-weight: 900; } }

@Media screen and (min-width:1024px) {
  .contsesioncop--contfleximagen {
    height: 55%; }
  .contsesioncopf--contfleximagen {
    height: 55%; }
  .contsesioncop__imagen {
    opacity: 0.8; }
  .contsesioncopf__imagen {
    opacity: 0.8; }
  .contsesioncop__imagen {
    transition: 0,5s;
    border-radius: 0.3rem; }
  .contsesioncopf__imagen {
    transition: 0,5s;
    border-radius: 0.3rem; }
  .contsesioncop__imagen:hover {
    transform: scale(1.02); }
  .contsesioncopf__imagen:hover {
    transform: scale(1.02); }
  .ImgsSesiones:hover {
    background-color: #c4d3ef; } }

/*-------------------MAIN--------------------*/
/*------------------FIN-SECTION | SESIONES ----------------------------------*/
/*-------------------SECTION | QUIEN SOY ----------------------------------*/
/*ESTILOS-MAIN*/
.contquiensoy {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "conttitulo" "contdescyfoto";
  gap: 0 0.5rem; }

.conttitulo {
  grid-area: conttitulo;
  margin-top: 1rem; }

.contdescyfoto {
  grid-area: contdescyfoto; }

.contdescripcion {
  padding: 1rem; }
  .contdescripcion h2 {
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.8rem;
    font-weight: bolder;
    color: #593092; }

.ContenedorQuienSoy {
  margin-top: 2.5rem; }

.ContMecaracteriza h2 {
  color: #fbbc05;
  font-weight: bolder; }

.Caracteristicas {
  color: #593092;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase; }

.contdescyfoto__imagen img {
  border-radius: 3rem;
  box-shadow: 5px 5px 15px 0px blueviolet; }

.contdescyfoto article {
  margin-bottom: 1rem; }

.contdescyfoto div {
  display: flex;
  justify-content: center; }

@Media screen and (min-width:600px) {
  .contdescripcion h2:hover {
    color: #d7cbe8; } }

@Media screen and (min-width:1024px) {
  .contdescyfoto {
    display: flex;
    justify-content: space-evenly; }
  .contdescyfoto__imagen {
    height: 18rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 15px 0px blueviolet; }
  .contdescyfoto__imagen:hover {
    background-color: #b79edb; }
  .conttitulo {
    margin-top: 1rem; }
  .contdescyfoto {
    height: 70%;
    padding-left: 0.5rem;
    border-radius: 5rem; }
  .contquiensoy div {
    margin-bottom: 0rem; }
  .contdescyfoto article {
    margin-bottom: 0rem; }
  .contdescyfoto:hover {
    background-color: white; }
  .continfoadicional:hover {
    background-color: white; }
  .continfoadicional {
    border-radius: 3rem;
    padding: 1rem; }
  .ImgsMeCaracteriza {
    transition: 0.3s; }
  .ImgsMeCaracteriza:hover {
    transform: scale(1.1); } }

/*-----------ESTILOS-MAIN------------*/
/*------------------FIN-SECTION | QUIEN SOY ----------------------------------*/
/*------------------- SECTION | DISTINCIONES ----------------------------------*/
/*ESTILOS-MAIN*/
.contdintinciones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "conttitulo" "contobservador"  "contperssist" "contmarcoconst" "contcel" "contdomenergetico";
  text-align: justify;
  justify-content: center;
  gap: 1rem;
  margin: 0.4rem; }

.conttitulo {
  grid-area: conttitulo; }

.contobservador {
  grid-area: contobservador; }

.contperssist {
  grid-area: contperssist; }

.contmarcoconst {
  grid-area: contmarcoconst; }

.contcel {
  grid-area: contcel; }

.contdomenergetico {
  grid-area: contdomenergetico; }

.conttitulo__titulo, .contobservador__titulo, .contperssist__titulo, .contmarcoconst__titulo, .contcel__titulo, .contdomenergetico__titulo, .Titulo__pricipalesDist {
  color: #fbbc05;
  font-weight: 900; }

.conttitulo__titulo {
  text-align: center;
  margin-bottom: 1rem; }

.contobservador__titulo {
  text-align: center; }

.contperssist__titulo {
  text-align: center; }

.contmarcoconst__titulo {
  text-align: center; }

.conttitulo__fondo {
  background-color: #a46497; }

/*---PROPIEDAD PARA BOOTSTRAP---*/
.ContenedorPrinpDistinciones {
  margin-bottom: 3rem;
  margin-top: 3rem; }

/*---PROPIEDAD PARA BOOTSTRAP---*/
.contcel__titulo {
  text-align: center;
  color: #fef8f8;
  background-color: #e93e6e;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
  border-radius: 0.3rem; }

.contdomenergetico__titulo {
  text-align: center;
  color: #fef8f8; }

.contenerg__titulo {
  background-color: #43b4f9;
  border-radius: 5rem; }

.FlexItem {
  border-radius: 5.5rem;
  padding: 1rem; }

.conttitulo, .contobservador, .contperssist, .contmarcoconst, .contdomenergetico {
  padding: 1rem; }

@Media screen and (min-width:600px) {
  .contcel--flex {
    display: flex;
    text-align: justify;
    gap: 1rem; }
  .conttitulo__parrafo:hover {
    font-weight: 900; }
  .contobservador__parrafo:hover {
    font-weight: 900; }
  .contperssist__parrafo:hover {
    font-weight: 900; }
  .contmarcoconst__parrafo:hover {
    font-weight: 900; }
  .contcel__parrafo:hover {
    font-weight: 900; }
  .contdomenergetico__parrafo:hover {
    font-weight: 900; } }

@Media screen and (min-width:1024px) {
  .contcel div article {
    padding: 1.5rem;
    border-radius: 5rem;
    background-color: white; }
  .contdomenergetico {
    padding: 1.5rem;
    border-radius: 5rem;
    background-color: white; }
  .contcel__titulo {
    text-align: center; }
  .contdomenergetico__titulo {
    text-align: center; }
  .fondo {
    background-color: #e7e2e2; }
  .ContenedorPrinpDistinciones {
    margin-top: 4rem; } }
