@import"./base/variables";
@import"./base/mixin";
@import"./base/listas";
@import"./base/extend";


/*RESET*/
*{
    margin: 0PX;
    padding: 0%;
    box-sizing: border-box;
}

/*ESTILOS-BODY*/

body{
    font-family:$FontFamily;
}



/*-------------------SECTION | INDEX ----------------------------------*/

.Colortitulo{
    color:nth($list: $ColorTitulos, $n:1 );
    font-weight: bold;
}


.video{
    display: none;
}

.ContPropuestaValor{
    color:nth($list: $ColorTitulos, $n:1 );
    background-color:nth($list: $Colorfondo, $n:5);
}

.ColorQeselco, .ColorQescc{
    color:nth($list: $ColorTitulos, $n:1 );

}

@Media screen and (min-width:600px){

}


/*ESTILOS-FOOTER*/

footer{
    a{
        img{
            width: 40%;
        }
    }
}

footer{
    display: grid;

    grid-template-columns:1fr ;
    grid-auto-flow:1fr ;


    grid-area:footer;

    justify-items: center;

    background-color:$ColorFooter;

    padding: 0.5rem;

}

footer{
    a{
    display: flex;

    justify-content: center;

    margin: 0.5rem;

    }
}

footer{
    h3{
        color:$ColorLetraFooter;
    }
}

footer{
    p{
        color:$ColorLetraFooter;
    }
}

/* --- BREAK POINT PARA TABLET --- */

@Media screen and (min-width:600px){

/*ESTILOS-HEADER*/

header{  
    div{  
        div{  
            h1{  
                a{
                    font-size: 2.5rem;  
                }
            }               
        }
    }
}

header{  
    nav{  
        ul{  
            li{    
                font-size: 1.2rem; 
                padding: 0.3rem;   
}
}
}
}

/*ESTILOS-MAIN*/

.video{
    display: block;
}

.video{
    grid-area: video;
    align-self: center; 
}



/*ESTILOS-FOOTER*/

footer{ 
     div{
        display: flex;
        width: 50%;
}
}

footer{  
    div{  
        a{  
            img {
                min-width: 30%;
}
}
}
}


}

/* --- BREAK POINT PARA DESKTOP --- */


@Media screen and (min-width:1024px){

/*ESTILOS-HEADER*/


header{  
    nav{  
        ul{  
            li{
                padding: 0.3rem;
}
}
}
}

/*ESTILOS-MAIN*/


.propuestavalor{
    width: 95%;
}

.coontologico{
    width: 95%;
}

.queesconversacion{
    width: 95%;
}

.coontologico{
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.propuestavalor{
    padding: 0.5rem;
    border-radius: 0.8rem;   
}

.video{
    padding: 0.5rem;
    border-radius: 0.8rem;      
}

iframe{
    margin-left: 1.7rem;
    padding: 0.5rem;
}


.queesconversacion{
    padding: 0.5rem;
    border-radius: 0.8rem; 
}


}


/*-------------------SECTION | SESIONES ----------------------------------*/

/*ESTILOS-MAIN*/

.mainsesionesgrid{
    display: grid;


    grid-template-columns:1fr;
    grid-template-rows:auto auto auto;

    grid-template-areas: 
    "contsesiones"
    "contsesioncop"
    "contsesioncopf"
    ;

    padding: 0.5rem;

    gap:1rem;

    justify-items:start;

    text-align: justify;

}


.contsesiones{
    grid-area:contsesiones;
    padding: 0.5rem;

}

.contsesioncop{
    grid-area:contsesioncop ;
    padding: 0.5rem;
}

.contsesioncopf{
    grid-area: contsesioncopf;
    padding: 0.5rem;
}

.contsesiones__titulo{
    text-align: center;
    margin-bottom: 1.5rem;
    color:nth($list: $ColorTitulos, $n:1 );
}

.contsesiones__subtitulo{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
    margin: 1.5rem;
    
}

.contsesioncop__titulo, .contsesioncopf__titulo{    
    text-align: center;
    font-weight: bold;
}

.contsesioncop--contfleximagen{
    @extend %imagenesSesiones;    

}

.contsesioncopf--contfleximagen{
    @extend %imagenesSesiones;    
}

.contsesioncop__imagen{
    width: 90%;
    border-radius: 20rem;
}

.contsesioncopf__imagen{
    width: 90%;
    border-radius: 20rem;
}


@Media screen and (min-width:600px){

.mainsesionesgrid{
    display: grid;
    
    
    grid-template-columns:1fr 1fr; 
    grid-template-rows:auto auto;
    
    grid-template-areas: 
    "contsesiones contsesiones"
    "contsesioncop contsesioncopf"
        
    ;
    
    padding: 0.5rem;
    
    gap:1rem;
    
    justify-items:start;
    
    text-align: justify;
    
}

.contsesioncop__imagen{
    width: 100%;
    border-radius: 0%;
    
}

.contsesioncopf__imagen{
    width: 100%;
    border-radius: 0%;
    
}

.contsesioncop__imagen{
    transition:0,5s;
    border-radius: 0.3rem;
}

.contsesioncopf__imagen{
    transition:0,5s;
    border-radius: 0.3rem;
}

.contsesioncop__imagen:hover{
    transform: scale(1.02);
}

.contsesioncopf__imagen:hover{
    transform: scale(1.02);

}

.contsesiones__parrafo:hover{
    font-weight: 900;
}

.contsesioncop__parrafo:hover{
    font-weight: 900;
}

.contsesioncopf__parrafo:hover{
    font-weight: 900;
}


}


@Media screen and (min-width:1024px){


.contsesioncop--contfleximagen{
        height: 55%
}
    
.contsesioncopf--contfleximagen{    
        height: 55%;
}

.contsesioncop__imagen{
    opacity:0.8;
}

.contsesioncopf__imagen{
    opacity:0.8;
    
}

.contsesioncop__imagen{
    transition:0,5s ;
    border-radius: 0.3rem;
}

.contsesioncopf__imagen{
    transition:0,5s;
    border-radius: 0.3rem;

}

.contsesioncop__imagen:hover{
    transform: scale(1.02);
}

.contsesioncopf__imagen:hover{
    transform: scale(1.02);

}

.ImgsSesiones:hover{
    background-color: rgb(196, 211, 239);

}


}

/*-------------------SECTION | QUIEN SOY ----------------------------------*/


/*ESTILOS-MAIN*/

.contquiensoy{
display: grid;

grid-template-columns:1fr;
grid-template-rows:auto auto;


grid-template-areas: 
"conttitulo"
"contdescyfoto"
;

gap:.0.5rem ;


}

.conttitulo{
    grid-area:conttitulo ;
}

.contdescyfoto{
    grid-area:contdescyfoto;
}


.contdescripcion{
        padding: 1rem;
        h2{
            font-size: 1.4rem;
            text-align: center;
            line-height: 2.8rem;
            font-weight: bolder;
            color: nth($list: $ColorTitulos, $n:8);
        }    
}





.ContenedorQuienSoy{
    margin-top: 2.5rem;
}

.ContMecaracteriza{
    h2{
        color:nth($list: $ColorTitulos, $n:1 );
        font-weight: bolder;
    }
}

.Caracteristicas{
    color: nth($list: $ColorTitulos, $n:8);
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
}

//------------------

.contdescyfoto{   
        article{
            margin-bottom:1rem ;
}
}


.contdescyfoto{  
    div{
        display:flex;
        justify-content: center;
}
}


@Media screen and (min-width:600px){ 

.contdescripcion{
    h2:hover{
        color: nth($list: $ColorTitulos, $n: 9);
    }
}

}


@Media screen and (min-width:1024px){

.contdescyfoto{
    display: flex;

    justify-content:space-evenly;

}

.contdescyfoto__imagen{
    border: 1px solid black;  
    height: 18rem;
    border-radius: 1rem;
    padding:1rem;
}

.contdescyfoto__imagen:hover{
    background-color: nth($list: $Colorfondo, $n:8);
}



.conttitulo{
    margin-top: 1rem;
}

.contdescyfoto{
    height: 70%;
    padding-left: 0.5rem;
    border-radius:  5rem;
    
}

.contquiensoy{  
    div{
        margin-bottom: 0rem;
}
}

.contdescyfoto{  
    article{
        margin-bottom:0rem ;
}
}

.contdescyfoto:hover{
    background-color: white;
    
}

.continfoadicional:hover{
    background-color: white;
}

.continfoadicional{
    border-radius: 3rem;
    padding: 1rem;
}

/*BOOTSTRAP*/
.ImgsMeCaracteriza{
    transition: 0.3s;
}

.ImgsMeCaracteriza:hover{
    transform: scale(1.1);
}
/*BOOTSTRAP*/

}




//---------SECTION DISTINCIONES---------------------------------
@import"./components/distinciones";
//---------SECTION DISTINCIONES---------------------------------


/*------------------- SECTION | CONTACTO ----------------------------------*/

/*ESTILOS-MAIN*/

/*----------------------------------------------------PROPIEDADES-BOOTSTRAP----------------------------------------------------*/

/*------------------- SECTION | MAIN ----------------------------------*/

.contcarousel{
    margin-top: 1rem;
    
}

.contPropuestaDeValor--marginTop{
    margin: 1rem;
}

/*------------------- SECTION | DISTINCIONES ----------------------------------*/


.ContenedorPrinpDistinciones{
    margin-top: 4rem;
}
