
.ContenedorCertificados{
    display: none;
}

@Media screen and (min-width:600px){

    .ContenedorCertificados{
        display: block;
    }


    .ContenedorCertificados{
        display: grid;
    
        grid-template-columns:auto;
        grid-template-rows:auto auto auto auto;
    
        grid-template-areas:
        "TituloCertificados"
        "CertificadoUno"
        "CertificadoDos"
        "Certificadotres"
        ;
    
        justify-items: center;
    
        gap: 1.5rem;
    
    }
    
    .TituloCertificados{
        grid-area: TituloCertificados;
        margin-bottom: 1rem;
        text-transform: uppercase;
        
        h2{
            font-weight: bold;
            color: nth($list: $ColorTitulos, $n: 1);
            margin-top: 3rem;
        }
    
    }
    
    .ContenedorCertificados{
    
            .CertificadoUno{
                grid-area:CertificadoUno;
                @extend %sombras;
            }
            
            .CertificadoDos{
                grid-area: CertificadoDos;
                @extend %sombras;
            }
            
            .Certificadotres{
                grid-area: Certificadotres;
                @extend %sombras;
                margin-top: 2rem;
                margin-bottom: 5rem;

        }

}

}

@Media screen and (min-width:1024px){

    
.ContenedorCertificados{
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    grid-template-areas:
    "TituloCertificados TituloCertificados"
    "CertificadoUno     CertificadoDos"
    "Certificadotres    Certificadotres"
    ;

}

    
}