/*------------------- SECTION | DISTINCIONES ----------------------------------*/

/*ESTILOS-MAIN*/

.contdintinciones{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows:auto auto auto auto auto auto ;

    grid-template-areas:
    "conttitulo"
    "contobservador" 
    "contperssist"
    "contmarcoconst"
    "contcel"
    "contdomenergetico"
    ;

    text-align: justify;

    justify-content: center;

    gap:1rem;

    margin: 0.4rem;

}

.conttitulo{
    grid-area: conttitulo;
}
.contobservador{
    grid-area: contobservador;
}

.contperssist{
    grid-area:contperssist;
}

.contmarcoconst{
    grid-area:contmarcoconst;
}

.contcel{
    grid-area:contcel;
}

.contdomenergetico{
    grid-area:contdomenergetico;
}

.conttitulo__titulo, .contobservador__titulo, .contperssist__titulo, .contmarcoconst__titulo, .contcel__titulo,.contdomenergetico__titulo, .Titulo__pricipalesDist{
    color:nth($list: $ColorTitulos, $n:1 );
    @extend %resaltarparrafo;

}

.conttitulo__titulo{
    text-align: center;
    margin-bottom: 1rem;

}

.contobservador__titulo{
    @include alineacion;
}

.contperssist__titulo{
    @include alineacion;
}

.contmarcoconst__titulo{
    @include alineacion;
}

.conttitulo__fondo{
    background-color:nth($list: $Colorfondo, $n:5);
    
}

/*---PROPIEDAD PARA BOOTSTRAP---*/
.ContenedorPrinpDistinciones{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/*---PROPIEDAD PARA BOOTSTRAP---*/

.contcel__titulo{
    text-align: center;
    color:nth($list: $ColorTitulos, $n:5) ;
    background-color: nth($list: $Colorfondo, $n:6 );
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    border-radius: 0.3rem;

}

.contdomenergetico__titulo{
    text-align: center;
    color: nth($list: $ColorTitulos, $n: 5);
    

}

.contenerg__titulo{
    background-color: nth($list: $Colorfondo, $n:4 );
    border-radius: 5rem;
}

.FlexItem{
    border-radius: 5.5rem;
    padding: 1rem;
}

.conttitulo, .contobservador, .contperssist, .contmarcoconst, .contdomenergetico{
    padding:1rem;
}


@Media screen and (min-width:600px){


    .contcel--flex{
        @include FlexContCEL
    }

    .conttitulo__parrafo:hover{
        @extend %resaltarparrafo;
    }

    .contobservador__parrafo:hover{
        @extend %resaltarparrafo;
    }

    .contperssist__parrafo:hover{
        @extend %resaltarparrafo;
    }

    .contmarcoconst__parrafo:hover{
        @extend %resaltarparrafo;
    }
    
    .contcel__parrafo:hover{
        @extend %resaltarparrafo;
    }

    .contdomenergetico__parrafo:hover{
        @extend %resaltarparrafo;
    }

}

@Media screen and (min-width:1024px){


.contcel{ 
    div{        
        article{
            @include PropiedadesCel(1.5rem, 5rem);
    background-color: $ColorContenedorCEL;
    }
    }
}


.contdomenergetico{

padding: 1.5rem;
border-radius: 5rem;
background-color:$ColorContenedorCEL;


}


.contcel__titulo{
    text-align: center;

}

.contdomenergetico__titulo{
    text-align: center;
    
}


.fondo{
    background-color: rgb(231, 226, 226);
}


.ContenedorPrinpDistinciones{
    margin-top: 1.5rem;
}


}