
//SECTION - SESIONES --------
%imagenesSesiones{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
//SECTION - SESIONES --------

//SECTION - DISTINCIONES --------
%resaltarparrafo{
    font-weight: 900;
}
//SECTION - DISTINCIONES --------


//SECTION - CONTACTO --------
%sombras{
    box-shadow: 1rem 1rem 2rem;
}
//SECTION - CONTACTO --------
