
//SECTION - DISTINCIONES----

//Mixin sin parametros
@mixin FlexContCEL{
    display: flex;
    text-align: justify;
    gap: 1rem;
}


//mixin com parametros
@mixin PropiedadesCel ($padding, $border-radius) {
    padding: $padding;
    border-radius: $border-radius;
    
}

@mixin alineacion {
    text-align: center;
    
}


//SECTION - DISTINCIONES----


//SECTION - SESIONES----

@mixin transform ($transform) {
    transform: $transform;
    -moz-transform: $transform ;
    -webkit-transform: $transform ;
    -o-transform: $transform ;
    -khtml-transform: $transform;
    -ms-transform: $transform ;
}

//SECTION - SESIONES----





